* {
margin: 0;
padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: brown;
}

h1 {
    font-style: italic;
    font-style: 30px;
    color: blue;
}

p {
font-style: oblique;
font-size: 20px;
}